.ui-widget-content {
  background: none;
}

.ui-dialog {
  padding: ($spacing--base * 2);
  @extend %font-normal--base;

  &.ui-widget-content {
    background-color: $c--background;
  }

  &-titlebar {
    &.ui-widget-header {
      background-color: $c--white;
      border: none;
    }

    &-close.ui-state-default {
      right: $spacing--small;
      top: $spacing--small;
      margin: 0;
      color: $c--secondary;
      border: none;
      background: none;
      @include icon('times');
    }
  }

  &-title {
    padding-top: $spacing--double;
    @extend .h2;
  }

  &-content.ui-widget-content {
    background-color: $c--white;
  }

  &-buttonpane {
    &.ui-widget-content {
      background-color: $c--white;
      border: none;
    }

    .ui-button {
      @extend .button;
      background-image: none;
    }
  }

  .ui-icon {
    background: none;
  }

  // 2-column layout for checkboxes.
  .form-checkboxes {
    column-count: 2;
  }
}
