.language-switcher {
  $icon-margin-right: $spacing--small;
  color: $c--primary;
  cursor: pointer;
  display: inline-block;
  text-transform: uppercase;
  position: relative;

  &__current {
    display: block;
    position: relative;
    // Using the same padding as in .info-links__navigation__toggle.
    // Only useful when showing the full menu. Does no harm on mobile though.
    $padding--lr: $spacing--big - $spacing--small;
    padding: 0 $padding--lr;

    @include icon("angle-down", "after") {
      position: absolute;
      right: 0;
      top: $spacing--tiny;
      z-index: 0;

      .header--enforce-mobile & {
        font-size: $fs--large;
      }
    };
  }

  &__menu {
    list-style: none;
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    margin: 0;
    padding: $spacing--half (2 * $spacing--half + $icon-margin-right);
    background: $c--white;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.3); // Copied from _info-links.scss for consistency.
    z-index: 1;

    .header--enforce-mobile & {
      background: none;
      box-shadow: none;
      position: static;
    }

    &-item {
      display: inline;
      list-style-type: none;
      padding-right: $spacing--half;

      &.is-active {
        display: none;
      }
    }
  }

  &:hover &__menu,
  &__menu.expanded {
    display: block;
  }
}
