<section class="language-switcher" role="navigation">
  <a class="language-switcher__current">{{ active_language }}</a>
  <ul class="language-switcher__menu">
    {% for item in links %}
      <li class="{{ item.class }}">{{ item.link }}</li>
    {% endfor %}
  </ul>
</section>
