.user-password {

  label {
    display: block;
  }

  .form-text {
    width: 100%;
  }

  .password-strength {
    width: 100%;
    margin-bottom: $spacing--base;
  }

  @include breakpoint($bp--mobile) {
    label {
      float: left;
      width: $spacing--large * 2;
    }

    .password-strength {
      margin-left: $spacing--large * 2;
    }

    .form-text,
    .password-strength {
      width: 55%;
    }
  }

  .description {
    margin: $spacing--medium 0;
  }

  .form-submit {
    margin: 0;
  }
}
