<div class="icons-demo" id="icons">
  
  <div class="icons__item" data-name="address-book">
    <i class="icon--address-book"></i> icon--address-book
  </div>
  
  <div class="icons__item" data-name="angle-down">
    <i class="icon--angle-down"></i> icon--angle-down
  </div>
  
  <div class="icons__item" data-name="angle-right">
    <i class="icon--angle-right"></i> icon--angle-right
  </div>
  
  <div class="icons__item" data-name="angle-up">
    <i class="icon--angle-up"></i> icon--angle-up
  </div>
  
  <div class="icons__item" data-name="animal-cat-white--knud">
    <i class="icon--animal-cat-white--knud"></i> icon--animal-cat-white--knud
  </div>
  
  <div class="icons__item" data-name="animal-cat1--robert">
    <i class="icon--animal-cat1--robert"></i> icon--animal-cat1--robert
  </div>
  
  <div class="icons__item" data-name="animal-dog1--robert">
    <i class="icon--animal-dog1--robert"></i> icon--animal-dog1--robert
  </div>
  
  <div class="icons__item" data-name="archive">
    <i class="icon--archive"></i> icon--archive
  </div>
  
  <div class="icons__item" data-name="arrow-right">
    <i class="icon--arrow-right"></i> icon--arrow-right
  </div>
  
  <div class="icons__item" data-name="bar-chart">
    <i class="icon--bar-chart"></i> icon--bar-chart
  </div>
  
  <div class="icons__item" data-name="bars">
    <i class="icon--bars"></i> icon--bars
  </div>
  
  <div class="icons__item" data-name="bolt">
    <i class="icon--bolt"></i> icon--bolt
  </div>
  
  <div class="icons__item" data-name="book">
    <i class="icon--book"></i> icon--book
  </div>
  
  <div class="icons__item" data-name="bug">
    <i class="icon--bug"></i> icon--bug
  </div>
  
  <div class="icons__item" data-name="building">
    <i class="icon--building"></i> icon--building
  </div>
  
  <div class="icons__item" data-name="bullseye">
    <i class="icon--bullseye"></i> icon--bullseye
  </div>
  
  <div class="icons__item" data-name="calendar">
    <i class="icon--calendar"></i> icon--calendar
  </div>
  
  <div class="icons__item" data-name="check-circle-o">
    <i class="icon--check-circle-o"></i> icon--check-circle-o
  </div>
  
  <div class="icons__item" data-name="circle">
    <i class="icon--circle"></i> icon--circle
  </div>
  
  <div class="icons__item" data-name="cloud">
    <i class="icon--cloud"></i> icon--cloud
  </div>
  
  <div class="icons__item" data-name="commenting-o">
    <i class="icon--commenting-o"></i> icon--commenting-o
  </div>
  
  <div class="icons__item" data-name="commenting">
    <i class="icon--commenting"></i> icon--commenting
  </div>
  
  <div class="icons__item" data-name="comments">
    <i class="icon--comments"></i> icon--comments
  </div>
  
  <div class="icons__item" data-name="connectdevelop">
    <i class="icon--connectdevelop"></i> icon--connectdevelop
  </div>
  
  <div class="icons__item" data-name="cross">
    <i class="icon--cross"></i> icon--cross
  </div>
  
  <div class="icons__item" data-name="cutlery">
    <i class="icon--cutlery"></i> icon--cutlery
  </div>
  
  <div class="icons__item" data-name="database">
    <i class="icon--database"></i> icon--database
  </div>
  
  <div class="icons__item" data-name="desktop">
    <i class="icon--desktop"></i> icon--desktop
  </div>
  
  <div class="icons__item" data-name="envelope">
    <i class="icon--envelope"></i> icon--envelope
  </div>
  
  <div class="icons__item" data-name="exclamation-circle">
    <i class="icon--exclamation-circle"></i> icon--exclamation-circle
  </div>
  
  <div class="icons__item" data-name="exclamation-triangle">
    <i class="icon--exclamation-triangle"></i> icon--exclamation-triangle
  </div>
  
  <div class="icons__item" data-name="external-link">
    <i class="icon--external-link"></i> icon--external-link
  </div>
  
  <div class="icons__item" data-name="eye">
    <i class="icon--eye"></i> icon--eye
  </div>
  
  <div class="icons__item" data-name="facebook">
    <i class="icon--facebook"></i> icon--facebook
  </div>
  
  <div class="icons__item" data-name="file-text-o">
    <i class="icon--file-text-o"></i> icon--file-text-o
  </div>
  
  <div class="icons__item" data-name="file-text">
    <i class="icon--file-text"></i> icon--file-text
  </div>
  
  <div class="icons__item" data-name="files-o">
    <i class="icon--files-o"></i> icon--files-o
  </div>
  
  <div class="icons__item" data-name="folder">
    <i class="icon--folder"></i> icon--folder
  </div>
  
  <div class="icons__item" data-name="gift">
    <i class="icon--gift"></i> icon--gift
  </div>
  
  <div class="icons__item" data-name="globe">
    <i class="icon--globe"></i> icon--globe
  </div>
  
  <div class="icons__item" data-name="graduation-cap">
    <i class="icon--graduation-cap"></i> icon--graduation-cap
  </div>
  
  <div class="icons__item" data-name="hand-o-up">
    <i class="icon--hand-o-up"></i> icon--hand-o-up
  </div>
  
  <div class="icons__item" data-name="handshake-o">
    <i class="icon--handshake-o"></i> icon--handshake-o
  </div>
  
  <div class="icons__item" data-name="heart-o">
    <i class="icon--heart-o"></i> icon--heart-o
  </div>
  
  <div class="icons__item" data-name="heart">
    <i class="icon--heart"></i> icon--heart
  </div>
  
  <div class="icons__item" data-name="id-card">
    <i class="icon--id-card"></i> icon--id-card
  </div>
  
  <div class="icons__item" data-name="info-circle">
    <i class="icon--info-circle"></i> icon--info-circle
  </div>
  
  <div class="icons__item" data-name="instagram">
    <i class="icon--instagram"></i> icon--instagram
  </div>
  
  <div class="icons__item" data-name="lightbulb-o">
    <i class="icon--lightbulb-o"></i> icon--lightbulb-o
  </div>
  
  <div class="icons__item" data-name="line-chart">
    <i class="icon--line-chart"></i> icon--line-chart
  </div>
  
  <div class="icons__item" data-name="lock">
    <i class="icon--lock"></i> icon--lock
  </div>
  
  <div class="icons__item" data-name="map-pin">
    <i class="icon--map-pin"></i> icon--map-pin
  </div>
  
  <div class="icons__item" data-name="map">
    <i class="icon--map"></i> icon--map
  </div>
  
  <div class="icons__item" data-name="microphone">
    <i class="icon--microphone"></i> icon--microphone
  </div>
  
  <div class="icons__item" data-name="money">
    <i class="icon--money"></i> icon--money
  </div>
  
  <div class="icons__item" data-name="newspaper-o">
    <i class="icon--newspaper-o"></i> icon--newspaper-o
  </div>
  
  <div class="icons__item" data-name="object-group">
    <i class="icon--object-group"></i> icon--object-group
  </div>
  
  <div class="icons__item" data-name="paint-brush">
    <i class="icon--paint-brush"></i> icon--paint-brush
  </div>
  
  <div class="icons__item" data-name="pencil-square">
    <i class="icon--pencil-square"></i> icon--pencil-square
  </div>
  
  <div class="icons__item" data-name="pencil">
    <i class="icon--pencil"></i> icon--pencil
  </div>
  
  <div class="icons__item" data-name="phone">
    <i class="icon--phone"></i> icon--phone
  </div>
  
  <div class="icons__item" data-name="pie-chart">
    <i class="icon--pie-chart"></i> icon--pie-chart
  </div>
  
  <div class="icons__item" data-name="plane">
    <i class="icon--plane"></i> icon--plane
  </div>
  
  <div class="icons__item" data-name="plus">
    <i class="icon--plus"></i> icon--plus
  </div>
  
  <div class="icons__item" data-name="rocket">
    <i class="icon--rocket"></i> icon--rocket
  </div>
  
  <div class="icons__item" data-name="search">
    <i class="icon--search"></i> icon--search
  </div>
  
  <div class="icons__item" data-name="server">
    <i class="icon--server"></i> icon--server
  </div>
  
  <div class="icons__item" data-name="shopping-cart">
    <i class="icon--shopping-cart"></i> icon--shopping-cart
  </div>
  
  <div class="icons__item" data-name="sitemap">
    <i class="icon--sitemap"></i> icon--sitemap
  </div>
  
  <div class="icons__item" data-name="sliders">
    <i class="icon--sliders"></i> icon--sliders
  </div>
  
  <div class="icons__item" data-name="snowflake-o">
    <i class="icon--snowflake-o"></i> icon--snowflake-o
  </div>
  
  <div class="icons__item" data-name="sticky-note">
    <i class="icon--sticky-note"></i> icon--sticky-note
  </div>
  
  <div class="icons__item" data-name="strategie">
    <i class="icon--strategie"></i> icon--strategie
  </div>
  
  <div class="icons__item" data-name="suitcase">
    <i class="icon--suitcase"></i> icon--suitcase
  </div>
  
  <div class="icons__item" data-name="sun-o">
    <i class="icon--sun-o"></i> icon--sun-o
  </div>
  
  <div class="icons__item" data-name="table">
    <i class="icon--table"></i> icon--table
  </div>
  
  <div class="icons__item" data-name="tachometer">
    <i class="icon--tachometer"></i> icon--tachometer
  </div>
  
  <div class="icons__item" data-name="television">
    <i class="icon--television"></i> icon--television
  </div>
  
  <div class="icons__item" data-name="th-list">
    <i class="icon--th-list"></i> icon--th-list
  </div>
  
  <div class="icons__item" data-name="thumb-tack">
    <i class="icon--thumb-tack"></i> icon--thumb-tack
  </div>
  
  <div class="icons__item" data-name="thumbs-o-up">
    <i class="icon--thumbs-o-up"></i> icon--thumbs-o-up
  </div>
  
  <div class="icons__item" data-name="thumbs-up">
    <i class="icon--thumbs-up"></i> icon--thumbs-up
  </div>
  
  <div class="icons__item" data-name="times">
    <i class="icon--times"></i> icon--times
  </div>
  
  <div class="icons__item" data-name="train">
    <i class="icon--train"></i> icon--train
  </div>
  
  <div class="icons__item" data-name="tty">
    <i class="icon--tty"></i> icon--tty
  </div>
  
  <div class="icons__item" data-name="twitter">
    <i class="icon--twitter"></i> icon--twitter
  </div>
  
  <div class="icons__item" data-name="university">
    <i class="icon--university"></i> icon--university
  </div>
  
  <div class="icons__item" data-name="user-circle-o">
    <i class="icon--user-circle-o"></i> icon--user-circle-o
  </div>
  
  <div class="icons__item" data-name="user-plus">
    <i class="icon--user-plus"></i> icon--user-plus
  </div>
  
  <div class="icons__item" data-name="users">
    <i class="icon--users"></i> icon--users
  </div>
  
  <div class="icons__item" data-name="wikipedia-w">
    <i class="icon--wikipedia-w"></i> icon--wikipedia-w
  </div>
  
</div>