{#
/**
 * @file
 * User teaser template.
 *
 * Available variables:
 * - name
 * - url
 * - image
 */
#}
<article class="user-teaser">
  <a class="user-teaser__image" href="{{ url }}" title="{{ name }}">{{ image }}</a>
</article>
