<section class="info-links">
  <ul class="info-links__navigation">
    {% for link in links %}
      <li class="info-links__navigation__item">
        <button class="info-links__navigation__toggle info-links__navigation__toggle--{{ link.classname }}"></button>
      </li>
    {% endfor %}
  </ul>
  <ul class="info-links__list">
     {% for link in links %}
    <li class="info-links__list-item info-links__list-item--{{ link.classname }}">
      {{ link.content }}
    </li>
    {% endfor %}
  </ul>
</section>