.main-submenu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background: $c--kasmir-blue;
  position: absolute;
  top: ($spacing--base * 6);
  left: 0;
  right: 0;
  z-index: 301;

  &__item {
    display: inline-block;
    padding: 0 0 ($spacing--base * 4) $spacing--big;

    &:nth-child(-n+6) {
      padding-top: $spacing--double;
    }
      // Distribute all elements in the grid.
    &:nth-child(6n+1) {
      @include grid-span(2, 1);
      clear: both;
    }
    &:nth-child(6n+2) {
      @include grid-span(2, 3);
    }
    &:nth-child(6n+3) {
      @include grid-span(2, 5);
    }
    &:nth-child(6n+4) {
      @include grid-span(2, 7);
    }
    &:nth-child(6n+5) {
      @include grid-span(2, 9);
    }
    &:nth-child(6n) {
      @include grid-span(2, 11);
      padding-right: $spacing--big;
    }
  }

  &__link {
    border-bottom: 1px solid $c--white__light;
    display: block;
    @extend %font-bold--base;
    color: $c--white;

    &.active,
    &:hover,
    &:active {
      color: $c--earls-green;
      text-decoration: none;
    }
  }

  &-1 {
    list-style-type: none;
    margin: $spacing--half 0 0;
    padding: 0;
  }

  &-1__link {
    transition: all .3s ease 0s;
    color: $c--white;
    display: block;

    &.active,
    &:hover,
    &:active {
      color: $c--earls-green;
      text-decoration: none;
    }
  }
}

