{#
/**
 * @file
 * Sorts block template.
 *
 * Available variables:
 * - title
 * - content
 */
#}
<section class="sorts">
  <h2 class="sorts__title">{{ title }}</h2>
  <div class="sorts__content">
    {% block content %}
      {{ content }}
    {% endblock %}
  </div>
</section>
