.block-layout {
  $bl-unit: 9.625rem; //As this has to match the designs pretty closely.
  $bl-gutter: $spacing--small;

  &__link-wrapper {
    display: block;
    width: 100%;
    height: 100%;
  }

  &__elements {
    @include clearfix();
    padding: 0;
    margin: $spacing--medium 0;
    width: 100%;
    position: relative;
  }

  &__element {
    float: left;
    position: relative;
    list-style: none;
    padding: $spacing--half;
    margin-bottom: $bl-gutter;

    &--size-1x2 {
      width: $bl-unit;
      height: ($bl-unit - $bl-gutter) / 2;

      .block-layout__element-title {
        margin-right: $spacing--double;
      }

      .block-layout__element-icon {
        transform: translateY(-50%);
        right: $spacing--base;
        left: auto;
        bottom: auto;
        top: 50%;
        margin: 0 0 $spacing--half $spacing--base;

        i {
          font-size: 1.5rem;
        }
      }
    }

    &--size-2x1 {
      width: ($bl-unit - $bl-gutter) / 2;
      height: $bl-unit;
    }

    &--size-2x2 {
      width: $bl-unit;
      height: $bl-unit;
    }

    &--size-4x2 {
      width: $bl-unit;
      height: $bl-unit * 2 + $bl-gutter;
    }

    &--size-2x4 {
      width: $bl-unit * 2 + $bl-gutter;
      height: $bl-unit;
    }
  }

  &__element-image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &__element-title {
    z-index: 1;
    position: relative;
    color: $c--white;
    margin-top: 0;
    size: $fs--small;
  }

  &__element-icon {
    z-index: 1;
    position: absolute;
    bottom: $spacing--big;
    left: 50%;
    transform: translateX(-50%);

    i {
      color: $c--white;
      font-size: 2.2rem;
    }
  }

  &__element-inner {
  }

  .link__external::after {
    display: none;
  }

  &__container {
    width: $bl-unit;
    height: $bl-unit;
    padding: 0;
  }

  &__container-inner {
    padding: 0;
    margin: 0;

    li:last-child {
      margin-bottom: 0;
    }
  }
}