<nav class="block-layout" role="navigation">
  <h2 class="block-layout__title">{{ content_layout.field_title }}</h2>
  <ul class="block-layout__elements">
    {{ content_layout|without('field_title') }}
  </ul>
</nav>