{#
/**
 * @file
 * Article full template.
 *
 * Available variables:
 * - content
 */
#}
<article class="article-full">
  <section class="article-full__content">
    {% block content content %}
  </section>
</article>
