@mixin tag-link($base-color) {
  text-decoration: none;
  transition: all 0.3s ease 0s;
  color: $base-color;
  border: $link--tag__border-width solid lighten($base-color, $link--tag__border-hover-lighten);
  border-radius: $link--tag__border-radius;
  padding: $link--tag__padding-vertical $link--tag__padding-horizontal;
  font-size: $link--tag__font-size;
  display: inline-block;

  &:hover,
  &:active {
    color: $base-color;
    text-decoration: none;
    border-color: $base-color;
  }
}

@mixin tag-link-active($base-color) {
  background: $base-color;
  color: $c--white;
  border-color: $base-color;

  &:hover,
  &:active {
    color: $c--white;
    background: darken($base-color, $link--tag-active__bg-hover-darken);
  }
}

.link {
  line-height: $link-line-height;

  &--icon { // The link variant with an icon.
    position: relative;;
    padding-left: $spacing--big;
    display: inline-block;
  }

  &__icon { // The span displaying the icon
    position: absolute;
    left: 0;
    top: $spacing--tiny;
    margin-right: $spacing--small;
  }

  &--tag {
    @include tag-link($link--tag__color);

    &__small {
      font-size: $fs--small;
      padding: ($spacing--tiny * .5) $spacing--small;
    }
  }
}

a.mailto,
a.link__external {
  @include icon('external-link', 'after') {
    font-size: $fs--base / 5 * 3;
    padding-left: $spacing--tiny;
  };
}

span.mailto,
span.link__external {
  display: none;
}
