{#
  Component for links.

  Component variables:
   - variant: (optional) Name of the component variant to use.
   - classes: (optional) Array of additional classes to set on the component.
   - attributes: (optional) Attributes to set for the component.
#}

{# Handle component classes and attribtues #}
{% set classes = classes|default([])|
    merge(['link' ~ (variant ? ' link--' ~ variant)]) %}
{% set attributes = attributes|default(create_attribute()).
    addClass(classes).
    setAttribute('href', url|default('#'))
%}

<a{{ attributes }}>{{ text }}</a>
