html {
  margin: 0;
}

body {
  @extend %font-normal--base;
  background-color: $c--white;
  letter-spacing: $ls--base;
  color: $c--text;
  min-width: $width--min;
  width: auto !important;
  width: $width--min;
}

b, strong {
  @extend %font-bold--base;
  font-style: normal;
}

i, em {
  font-style: italic;
}

a, a:hover, a:active, a.active, a:focus {
  color: $c--primary;
  text-decoration: none;
}

label {
  @extend %font-size-small;
}

.label-above {
  display: block;
  @extend %font-bold--base;
}
.label-inline {
  display: inline;
}

th {
  @extend %font-bold--base;
}

td {
  @extend %font-normal--base;
}

code,
code[class*="language-"],
pre[class*="language-"] {
  @extend %font-base--mono;
}

blockquote,
cite {
  @extend %font-normal--base;
  font-style: italic;
  display: block;
  padding: $spacing--base $spacing--base $spacing--base (2 * $spacing--double);
  margin: 0 0 $spacing--base;
  position: relative;
  text-align: justify;

  &:before {
    content: "\201C"; /*Unicode for Left Double Quote*/
    font-family: $ff--base;
    font-size: 6 * get-font-property-value('base', 'font-size');
    font-weight: $fw--base;
    position: absolute;
    left: $spacing--small;
    top: (3 * $spacing--base);
  }

  &:after {
    content: "";
  }

  p {
    display: inline;
  }
}

/// Hidden and Shown elements.
.is-hidden,
.visually-hidden,
.element-invisible {
  display: none;
}

.is-shown {
  display: block;
}
