<div class="branding">
  <a href="#" id="branding__toggle-sidebar" class="branding__toggle-sidebar" title="{{ open_title }}"></a>
  {% block logo %}
    {% include '@site-elements/logo/logo.twig' with logo %}
  {% endblock %}
</div>
