.list-links {
  $item-margin-right: $spacing--small;
  $item-margin-bottom: $spacing--small;
  margin: 0;
  padding: 0;

  &__item {
    list-style-type: none;
    margin-bottom: $spacing--half;
  }

  &__link {
    display: block;
    word-wrap: break-word;
  }

  &--tags {
    overflow: hidden;

    &__item {
      float: left;
      margin-right: $item-margin-right;
      margin-bottom: $item-margin-bottom;
    }
  }

  // This is the variant of the list-links that shows tags with an optional
  // more button. Whether the button is needed and displayed or not is
  // determined via javascript by creating a copy of the list with the additional
  // invisible class and position in in the original's parent.
  // If not all links could be shown in a single line
  &--single-line {
    $tag-height: 2 * $link--tag__border-width + 2 * $link--tag__padding-vertical + $link-line-height + $item-margin-bottom;
    max-height: $tag-height;
    overflow: hidden;
    transition: all 0.4s ease 0s;

    &.expanded {

      .list-links__more {
        display: none;
      }
    }

    // This is for the invisible copy that we use to determine how much height the list would need to be fully shown.
    &.invisible {
      visibility: hidden;
      max-height: none;
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
    }
  }

  &__more {
    list-style-type: none;
    display: none;

    &-link {
      @include tag-link($link--tag__color);
      cursor: pointer;
    }

    &.visible {
      display: list-item;
      float: left;
    }
  }
}
