<ul class="news-meta">
  <li class="news-meta__date">{{date}}</li>
  <li class="news-meta__like">
    <i class="fa fa-heart-o" aria-hidden="true"></i>
    {{like}}
  </li>
  <li class="news-meta__comments">
    <i class="fa fa-commenting-o" aria-hidden="true"></i>
    {{comments}}
  </li>
</ul>