/*------------------------------------*\
    $PATTERN LAB-SPECIFIC STYLES
\*------------------------------------*/
/**
 * This stylesheet is for styles you want to include only when the interface is being viewed within Pattern Lab.
 * This is helpful for displaying demo styles for grids, animations, color swatches, etc
 * It's also helpful for overriding context-specific styles like fixed or absolutely positioned elements
 * These styles will not be your production CSS.
 */

pre {
  margin-top: 0;
}

// Icons
.icons-container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 25px;
}
.icons-demo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.icons__item {
  -webkit-flex: auto;
      -ms-flex: auto;
          flex: auto;
  padding: 0.3em;
  margin: 0 0.5em 0.5em 0;
  border: 1px solid #ddd;
  border-radius: 8px;
  line-height: 2em;
  overflow: hidden;
  &:last-child {
    margin-bottom: 0.5em;
  }
}

.icons__item i {
  display: inline-block;
  width: 32px;
  text-align: center;
}

.demo .g .gi {
  text-align: center;
  outline: dotted 1px #ccc;
}

.form-item,
.form-actions {
  margin: 1em 0;

  textarea {
    width: 100%;
  }
}

.comment__content {

  ul {
    margin: 0;
    padding: 0;

    li {
      list-style-type: none;
    }
  }
}

.pl-region-with-borders-dark {
  outline: 1px dashed #333;
}

.pl-region-with-borders-light {
  outline: 1px dashed #ccc;
}
