.list-teaser-box {
  margin: $spacing--big 0;

  .teaser-box {
    margin: 0 0 $spacing--double 0;
    width: 100%;

    @include breakpoint($bp--tablet-large $bp--desktop-large) {
      width: 49.9%;
      float: left;
      padding: 0;
      overflow: hidden;

      .teaser-box__inner {
        margin-right: $spacing--big;
      }

      &:nth-child(2n) .teaser-box__inner {
        margin-right: 0;
      }
    }

    @include breakpoint($bp--desktop-large) {
      width: 33.3%;
      float: left;
      padding: 0;
      overflow: hidden;

      .teaser-box__inner {
        margin-right: $spacing--big;
      }
      &:nth-child(3n) .teaser-box__inner {
        margin-right: 0;
      }
    }
  }
}
