{#
/**
 * @file
 * Teasers list.
 */
#}
<div class="list-teaser-box">
  {% block teasers %}
    {% for teaser in teasers %}
      {% embed '@content/short-news/short-news--image.twig' with {
        'teaser': {
          'view_mode': teaser.view_mode,
          'headline': teaser.headline,
          'text': teaser.text,
          'url': teaser.url,
        }
      } %}
        {% block image %}
          <div class="teaser-box__image teaser-box-image__image">{{ image }}</div>
        {% endblock %}
      {% endembed %}
    {% endfor %}
  {% endblock %}
</div>
