.startpage {
  @include clearfix();

  &__header {
    @include clearfix();
    position: relative;
    margin-bottom: $teaser-default-vert-spacing;

    @include breakpoint($bp--tablet-large) {
      margin-bottom: #{gutter-span()};
    }

    @include breakpoint($bp--max) {
      float: left;
      width: 100%;
    }
  }

  &__content {
    position: relative;
    margin-right: 0;
    margin-bottom: $teaser-default-vert-spacing;

    @include clearfix();

    @include breakpoint($bp--tablet-large) {
      @include grid-span(6, 1);
      clear: both;
    }

    @include breakpoint($bp--max) {
      min-height: 35rem;
      top: 0;
    }

    .block--views-block {
      background-color: $c--white;
      padding: $spacing--big $spacing--big;
      margin-bottom: $teaser-default-vert-spacing;

      .block__title {
        font-size: $fs--small;
        margin-top: 0;
        line-height: $lh--base;
        padding-bottom: $spacing--small;
        border-bottom: 2px solid $c--grey__lighterer;
      }
    }

    .list-news-connect  {
      padding: $spacing--big $spacing--big;

      @include breakpoint($bp--tablet-large) {
        @include grid-span(3, 1, 6);
        z-index: 100;
        margin-top: 0;
        margin-left: 0;
        padding: 0;
        border: 0 none;
        float: none;
        position: absolute;
        left: calc(100% + #{gutter-span()*2});
        top: 0;
      }
    }
  }

  &__teaser {
    @include clearfix();
    position: relative;

    @include breakpoint($bp--tablet-large) {
      @include grid-span(6, 7);
      width: 50%;
      margin-left: 0;
    }

    @include breakpoint($bp--max) {
      @include grid-span(6, 7);
      top: 0;
    }

    .teaser-box:first-child {
      @extend .teaser-box-view-mode--default;
      min-width: 0;
      height: auto;

      @include breakpoint($bp--tablet-large) {
        margin-left: #{50% + gutter-span()};
        height: auto;
        margin-bottom: $teaser-default-vert-spacing;
      }

      @include breakpoint($bp--max) {
        height: auto;
      }

      .teaser-box__content {
        margin: 0;

        @include breakpoint($bp--tablet-large) {
          height: 7.32vw;
        }
        @include breakpoint($bp--max) {
          padding: $spacing--medium $spacing--big $spacing--big;
          height: 104px;
        }
      }

      .teaser-box__image {
        position: static;

        img {
          min-height: 0;
        }
      }

      .teaser-box__content-wrapper {
        padding: 0;
        width: auto;
        min-width: 0;
      }

      .teaser-box__headline {
        margin-top: $spacing--base;

        @include breakpoint($bp--tablet-small) {
          line-height: 1.2;
        }
      }

      .teaser-box__text {
        display: block;

        @include breakpoint($bp--tablet-small) {
          display: none;
        }
      }

      .media-video {
        padding-bottom: 0;
      }
    }
  }
}
