.tool {
  background-color: $c--surfie-green;
  text-align: center;
  position: relative;

  &::after {
    display: block;
    content: "";
    padding-top: 100%;
  }

  &__link {
    display: flex;
    height: 100%;
    width: 100%;
    color: $c--white;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    &:hover {
      color: $c--white__light;
    }

    &.link__external:after {
      display: none;
    }
  }

  &__title {
    word-wrap: break-word;
  }

  &__icon {
    line-height: 1.5;
    font-size: 1.6vw;

    @include breakpoint($bp--tablet-large) {
      font-size: 1.4vw;
    }

    @include breakpoint($bp--max) {
      font-size: $fs--large;
    }
  }

  &__text-container {
    padding: $spacing--small $spacing--half;
    line-height: 1.2;
    font-size: 1.1vw;
    max-width: 100%;

    @include breakpoint($bp--tablet-large) {
      font-size: 0.9vw;
    }

    @include breakpoint($bp--max) {
      font-size: $fs--small;
    }
  }

  &--inactive {
    background-color: $c--surfie-green__25;

    .tool--title {
      display: none;
    }
  }
}