.site {
  &__notifications {
    @extend %container;
    max-width: 100%;
  }

  &__main {
    @extend %container;
    max-width: 100%;
    margin-bottom: $spacing--base;

    &--sidebar {
      @extend %container;
      max-width: 100%;

      .site__content {
        @include breakpoint($bp--mobile $bp--desktop) {
          @include clearfix();
        }

        @include breakpoint($bp--desktop) {
          @include grid-span(9, 1);
        }
      }

      .site__second-sidebar {
        @include breakpoint($bp--mobile $bp--desktop) {
          @include clearfix();
        }

        @include breakpoint($bp--desktop) {
          @include grid-span(3, 10);
        }
      }
    }
  }

  &__breadcrumb {
    @extend %container;
    max-width: 100%;
    margin-top: $spacing--half;
    margin-bottom: $spacing--half;
  }

  &__content {
    background: $c--white;
    padding: $spacing--big;

    &--sidebar {
      @extend %container;
      max-width: 100%;

      .site__first-sidebar {
        @include breakpoint($bp--mobile $bp--desktop) {
          @include clearfix();
        }

        @include breakpoint($bp--desktop) {
          @include grid-span(3.5, 1);
        }
      }

      .site__content-main {
        @include breakpoint($bp--mobile $bp--desktop) {
          @include clearfix();
        }

        @include breakpoint($bp--desktop) {
          @include grid-span(8.25, 4.75);
        }
      }
    }
  }

  &--section-front {
    .site__content {
      margin-top: $spacing--big;
      margin-bottom: $spacing--big;
      background: none;
    }
  }
}
