{#
/**
 * @file
 * Facet block template.
 *
 * Available variables:
 * - title
 * - links
 * - expanded
 */
#}
<section class="facet{{ expanded ? ' facet--expanded' }}">
  <h2 class="facet__title">{{ title }}</h2>
  <div class="facet__content">
    {% block content %}
      {% for link in links %}
        {% include '@site-components/facet/facet-link/facet-link.twig' with {
          'is_active': link.is_active,
          'value': link.value,
          'count': link.count,
          'show_count': link.show_count,
        } %}
      {% endfor %}
    {% endblock %}
  </div>
</section>
