{#
/**
 * @file
 * Display a teaser.
 *
 * Available variables:
 * - teaser: A teaser object with the following properties:
 *   - view_mode: The view mode of teaser. One of (default).
 *   - headline: The teaser's headline text.
 *   - video_embed_url: Video embed url
 */
#}
{% set classes = [
  'teaser-box',
  'teaser-box-video',
  'teaser-box-view-mode--' ~ teaser.view_mode
] %}
<div class="{{ classes|join(' ') }}">
  <div class="teaser-box__inner">
    <h2 class="teaser-box__headline teaser-box__headline--video">{{ teaser.headline }}</h2>
    <div class="teaser__video">
      {% block video %}
        {% include '@atoms/media-video/media-video.twig' with { 'embed_url': teaser.video_embed_url } %}
      {% endblock %}
    </div>
  </div>
</div>
