<ul class="pl-font-sizes">
  {% for font_size in font_sizes %}
    <li class="pl-font_size pl-font_size--{{ font_size }}">
      <strong>{{font_size}}:</strong>
      <div>{{ text }}</div>
    </li>
  {% endfor %}
</ul>
