.news-teasers {

  &__feed-icon {
    float: right;
    margin: $spacing--tiny 0 0 $spacing--half;
  }

  &__subscriptions {
    margin-bottom: $spacing--big;
  }

  .view-content {
    border-top: 1px solid $c--grey__lighterer;
    padding-top: $spacing--half * 2;
  }


  &__subscription-link {
    color: $c--denim__50;
    float: right;
    font-size: $fs--small;
    font-weight: normal;
    transition: all 0.3s ease 0s;
  }

  .news-teaser {
    border-bottom: 1px solid $c--white__dark;
    padding: $spacing--medium 0;

    &:first-of-type {
      padding-top: 0;
    }
  }

  .feed-icons {
    margin-top: $spacing--medium;
    overflow: hidden;
  }

  .feed-icon {
    float: right;
  }

  // Search-specific styles.
  &.view-search {
    margin-top: $spacing--medium + $spacing--half;

    .view-header {
      font-size: $fs--small;
      color: $c--grey;
      margin-bottom: $spacing--tiny;
    }
  }

  &__overview {
    @extend .button-skeleton;
    display: block;
    margin-top: $spacing--base * 2;
  }
}
