// Color names were derived from http://chir.ag/projects/name-that-color

// Rich, luxurious tones
$c--scarpa-flow: rgba(90, 83, 96, 1);
$c--scarpa-flow__75: rgba(90, 83, 96, .75);
$c--scarpa-flow__50: rgba(90, 83, 96, .5);
$c--scarpa-flow__25: rgba(90, 83, 96, .25);

// Pantone 668 C
$c--mulled-wine: rgba(93, 66, 109, 1);
$c--mulled-wine__75: rgba(93, 66, 109, .75);
$c--mulled-wine__50: rgba(93, 66, 109, .5);
$c--mulled-wine__25: rgba(93, 66, 109, .25);

$c--costa-del-sol: rgba(91, 93, 48, 1);
$c--costa-del-sol__75: rgba(91, 93, 48, .75);
$c--costa-del-sol__50: rgba(91, 93, 48, .5);
$c--costa-del-sol__25: rgba(91, 93, 48, .25);

$c--breaker-bay: rgba(78, 152, 137, 1);
$c--breaker-bay__75: rgba(78, 152, 137, .75);
$c--breaker-bay__50: rgba(78, 152, 137, .5);
$c--breaker-bay__25: rgba(78, 152, 137, .25);

$c--kasmir-blue: rgba(73, 100, 140, 1);
$c--kasmir-blue__75: rgba(73, 100, 140, .75);
$c--kasmir-blue__50: rgba(73, 100, 140, .5);
$c--kasmir-blue__25: rgba(73, 100, 140, .25);

$c--cardinal: rgba(183, 30, 63, 1);
$c--cardinal__75: rgba(183, 30, 63, .75);
$c--cardinal__50: rgba(183, 30, 63, .5);
$c--cardinal__25: rgba(183, 30, 63, .25);

// Pantone 2223 C
$c--surfie-green: rgba(13, 112, 131, 1);
$c--surfie-green__75: rgba(13, 112, 131, .75);
$c--surfie-green__50: rgba(13, 112, 131, .5);
$c--surfie-green__25: rgba(13, 112, 131, .25);

// Soft, calm tones
$c--surf: rgba(181, 215, 186, 1);
$c--surf__75: rgba(181, 215, 186, .75);
$c--surf__50: rgba(181, 215, 186, .5);
$c--surf__25: rgba(181, 215, 186, .25);

$c--eunry: rgba(207, 171, 153, 1);
$c--eunry__75: rgba(207, 171, 153, .75);
$c--eunry__50: rgba(207, 171, 153, .5);
$c--eunry__25: rgba(207, 171, 153, .25);

$c--biloba-flower: rgba(164, 168, 238, 1);
$c--biloba-flower__75: rgba(164, 168, 238, .75);
$c--biloba-flower__50: rgba(164, 168, 238, .5);
$c--biloba-flower__25: rgba(164, 168, 238, .25);

$c--jagged-ice: rgba(207, 233, 238, 1);
$c--jagged-ice__75: rgba(207, 233, 238, .75);
$c--jagged-ice__50: rgba(207, 233, 238, .5);
$c--jagged-ice__25: rgba(207, 233, 238, .25);

$c--raffia: rgba(235, 225, 191, 1);
$c--raffia__75: rgba(235, 225, 191, .75);
$c--raffia__50: rgba(235, 225, 191, .5);
$c--raffia__25: rgba(235, 225, 191, .25);

// Pantone Pastel 9322 C
$c--vanilla-ice: rgba(238, 204, 213, 1);
$c--vanilla-ice__75: rgba(238, 204, 213, .75);
$c--vanilla-icet__50: rgba(238, 204, 213, .5);
$c--vanilla-icet__25: rgba(238, 204, 213, .25);

$c--alto: rgba(221, 220, 219, 1);
$c--alto__75: rgba(221, 220, 219, .75);
$c--alto__50: rgba(221, 220, 219, .5);
$c--alto__25: rgba(221, 220, 219, .25);

// Vibrant, energetic tones
$c--earls-green: rgba(187, 208, 52, 1);
$c--earls-green__75: rgba(187, 208, 52, .75);
$c--earls-green__50: rgba(187, 208, 52, .5);
$c--earls-green__25: rgba(187, 208, 52, .25);

$c--malibu: rgba(113, 203, 244, 1);
$c--malibu__75: rgba(113, 203, 244, .75);
$c--malibu__50: rgba(113, 203, 244, .5);
$c--malibu__25: rgba(113, 203, 244, .25);

$c--wisteria: rgba(158, 117, 178, 1);
$c--wisteria__75: rgba(158, 117, 178, .75);
$c--wisteria__50: rgba(158, 117, 178, .5);
$c--wisteria__25: rgba(158, 117, 178, .25);

$c--red-ribbon: rgba(228, 0, 58, 1);
$c--red-ribbon__75: rgba(228, 0, 58, .75);
$c--red-ribbon__50: rgba(228, 0, 58, .5);
$c--red-ribbon__25: rgba(228, 0, 58, .25);

$c--fountain-blue: rgba(102, 193, 191, 1);
$c--fountain-blue__75: rgba(102, 193, 191, .75);
$c--fountain-blue__50: rgba(102, 193, 191, .5);
$c--fountain-blue__25: rgba(102, 193, 191, .25);

// Pantone 7403 C
$c--confetti: rgba(235, 210, 92, 1);
$c--confetti__75: rgba(235, 210, 92, .75);
$c--confetti__50: rgba(235, 210, 92, .5);
$c--confetti__25: rgba(235, 210, 92, .25);

// Pantone 7577 C
$c--jaffa: rgba(244, 142, 75, 1);
$c--jaffa__75: rgba(244, 142, 75, .75);
$c--jaffa__50: rgba(244, 142, 75, .5);
$c--jaffa__25: rgba(244, 142, 75, .25);

// Denim
$c--denim: rgba(18, 124, 179, 1);
$c--denim__75: rgba(18, 124, 179, .75);
$c--denim__50: rgba(18, 124, 179, .5);
$c--denim__25: rgba(18, 124, 179, .25);
$c--denim__5: rgba(18, 124, 179, .05);

// Resolution blue
$c--resolution-blue: rgba(0, 55, 129, 1);
$c--resolution-blue__75: rgba(0, 55, 129, .75);
$c--resolution-blue__50: rgba(0, 55, 129, .5);
$c--resolution-blue__25: rgba(0, 55, 129, .25);

// Black squeeze (this is a pastel like color - the terrible name is from name-that-color, see top of this file)
$c--black-squeeze: rgba(232, 241, 247, 1);
$c--black-squeeze__75: rgba(232, 241, 247, .75);
$c--black-squeeze_50: rgba(232, 241, 247, .5);
$c--black-squeeze_25: rgba(232, 241, 247, .25);

// White, black and shades of grey colors
$c--white: rgba(255, 255, 255, 1);
$c--white__75: rgba(255, 255, 255, .75);
$c--white__strong: rgba(255, 255, 255, .95);
$c--white__light: rgba(255, 255, 255, .5);
$c--white__dark: rgba(220, 220, 220, 1);
$c--black: rgba(0, 0, 0, 1);
$c--black__75: rgba(0, 0, 0, .75);
$c--grey: rgba(66, 66, 66, 1);
$c--grey__light: rgba(115, 115, 115, 1);
$c--grey__lighter: rgba(140, 140, 140, 1);
$c--grey__lighterer: rgba(225, 225, 225, 1);
$c--grey__dark: rgba(53, 53, 53, 1);
$c--sky-blue: rgb(81, 157, 196);

// Primary colors
$c--primary: rgba(204, 13, 31, 1);
$c--secondary: rgba(166, 0, 16, 1);
$c--secondary__light: rgba(231, 50, 67, 1);
$c--background: rgba(231, 50, 67, .2);

// Primary colors
$c--primary__smooth:  $c--denim__75;
$c--primary__light:   $c--denim__50;
//$c--secondary:        $c--surfie-green;
$c--background:       $c--black-squeeze;
$c--text:             $c--black;
$c--text__light:      $c--grey__light;
