.contact-card {
  margin-bottom: gutter-span() * 4;

  &__image {
    text-align: center;
  }

  &__title {
    margin: 0 0 $spacing--medium;
    color: $c--primary;
    font-size: $fs--large;
  }

  &__content {
    border-top: $spacing--small solid $c--earls-green;
    background: $c--white;
    padding: ($spacing--base * 4) $spacing--big;
  }

  &__name {
    @extend %font-size-base;
    font-weight: $fw--base-bold;
    margin: 0;
  }

  &__position {
    margin: 0;
  }

  &__links {
    display: block;
    margin: $spacing--medium 0 0;
    padding: 0;

    &-item {
      list-style-type: none;
    }
  }
}
