{#
/**
 * @file
 * A news connect teaser template.
 */
#}
<section class="list-news-connect">
  <h2 class="list-news-connect__title">
    {% if news_connect.url %}
      <a class="list-news-connect__link" href="{{ news_connect.url }}">{{ news_connect.title }}</a>
    {% else %}{{ news_connect.title }}{% endif %}
  </h2>
  <div class="list-news-connect__content">
    {% block content %}
      {% for teaser in news_connect.teasers %}
        {% include '@content/news-connect/news-connect.twig' with {
          title: teaser.title,
          image: teaser.image,
          url: teaser.url,
        } %}
      {% endfor %}
    {% endblock %}
  </div>
</section>
