{#
/**
 * @file
 * A link that toggles liking the current page. (Obviously not functional in pattern-lab)
 *
 * Available variables:
 * - likes: The number of likes this page currently has.
 * - attributes: An optional drupal attributes object.
 * - flag: A optional drupal flag object.
 * - flaggable: A optional drupal flaggable object.
 * - action: The current like state. Either 'flag' or 'unflag'.
 */
#}
{% spaceless %}
  {# Attach the flag CSS library.#}
  {{ attach_library('flag/flag.link') }}

  {% if (flag is defined) and (flaggable is defined) %}
    {% set link_classes = [
      'flag-' ~ flag.id() ~ '__like',
      'news-full__header__item-link',
    ] %}

    {# Set the remaining Flag CSS classes. #}
    {% set classes = [
      'flag',
      'flag-' ~ flag.id(),
      'flag-' ~ flag.id() ~ '-' ~ flaggable.id(),
    ] %}
  {% else %}
    {# These are only for pattern-lab. #}
    {% set link_classes = [
      'news-full__header__item-link',
    ] %}

    {% set classes = [
      'flag',
    ] %}
  {% endif %}

  {# Depending on the flag action, set the appropriate action class. #}
  {% if action == 'unflag' %}
    {% set link_classes = link_classes|merge(['action-unflag']) %}
  {% else %}
    {% set link_classes = link_classes|merge(['action-flag']) %}
  {% endif %}


  {% if attributes is defined %}
    {% set attributes = attributes.addClass(link_classes) %}

    {# Set nofollow to prevent search bots from crawling anonymous flag links #}
    {% set attributes = attributes.setAttribute('rel', 'nofollow') %}
    {% set attributes = attributes.setAttribute('title', title) %}
  {% else %}
    {# Set default classes for pattern-lab #}
    {% set attributes = 'class="' ~ link_classes|join(' ') ~ '" href="#"' %}
  {% endif %}

  <span class="{{ classes|join(' ') }}">
    <a {{ attributes }}><span class="news-full__header__item-link-icon icon--heart"></span>{{ likes }}</a>
  </span>
{% endspaceless %}
