.page-full {

  &__top-image {
    margin: (-1 * $news-full-padding-vertical) (-1 * $news-full-padding-horizontal) $news-full-top-image-margin;
  }

  &__content {
    background: $c--white;
    padding: ($spacing--base * 4) ($spacing--base * 2);
  }

  &__header {
    margin-bottom: $spacing--base * 4;
    overflow: hidden;

    &__title {
      font-size: $fs--xlarge;
      font-weight: $fw--base;
      margin: 0 0 $spacing--half * 2;
    }

    &__items {
      margin: 0 0 $spacing--medium;
      overflow: hidden;
      padding: 0;
    }

    &__item {
      display: block;
      float: left;
      color: $c--text__light;

      &-link {
        color: $c--text__light;
        text-decoration: none;
        transition: all 0.3s ease 0s;

        &:hover,
        &:active,
        &:focus {
          color: $c--grey;
          text-decoration: none;
        }

        &-icon {
          margin-right: $spacing--small;
          margin-top: -$spacing--tiny;
        }
      }

      &::before {
        color: $c--grey__light;
        content: "|";
        margin: 0 $spacing--half;
      }

      &:first-child {

        &::before {
          display: none;
        }
      }
    }
  }

  .news-teaser:last-of-type {
    border-bottom: none;
  }
}
