// Font sizes:
$fonts: (
  xxsmall: (
    font-size: rem(12),
    line-height: rem(12 * 1.3),
  ),
  xsmall: (
    font-size: rem(14),
    line-height: rem(14 * 1.3),
  ),
  small: (
    font-size: rem(16),
    line-height: rem(16 * 1.3),
  ),
  base: (
    font-size: rem(18),
    line-height: rem(18 * 1.3),
  ),
  large: (
    font-size: rem(20),
    line-height: rem(20 * 1.3),
  ),
  larger: (
    font-size: rem(24),
    line-height: rem(24 * 1.3),
  ),
  xlarge: (
    font-size: rem(30),
    line-height: rem(30 * 1.3),
  ),
  xxlarge: (
    font-size: rem(42),
    line-height: rem(42 * 1.3),
  ),
);

// Base font.
// Normal font for use in:
// - body text
// - buttons
// - main menu
// - footer menu
$ff--base: Roboto, Helvetica, Arial, "Bitstream Vera Sans", sans-serif !default;
$fw--base: 400 !default;
$ls--base: 0 !default;

// Bold font for use in:
// - headlines
$ff--base-bold: $ff--base !default;
$fw--base-bold: 700 !default;

// Mono font currently not in use.
$ff--mono: 'Source Code Pro' !default;
$ls--mono: $ls--base;
