<ul class="pl-font-sizes">
  {% for font_size in font_sizes %}
    <li class="pl-font-sizes__size--{{ font_size }}">{{ font_size }}: Aequalis galeae parte ambitae montes liquidum deerat caesa aberant.</li>
  {% endfor %}
</ul>
