.content-two-column {
  @include clearfix();
  padding-top: $spacing--big;
  padding-bottom: $spacing--big;

  &__first {
    margin-bottom: $spacing--big;

    @include breakpoint($bp--tablet-small) {
      @include grid-span(6,1, $gutter: $spacing--big);
      margin-bottom: 0;
    }
  }

  &__second {
    @include breakpoint($bp--tablet-small) {
      @include grid-span(6,7, $gutter: $spacing--big);
    }
  }
}