<div class="content-two-column">
    <div class="content-two-column__first">
        {% block column_first %}
            First column
        {% endblock %}
    </div>

    <div class="content-two-column__second">
        {% block column_second %}
            Second column
        {% endblock %}
    </div>
</div>