.news-teaser {
  .field--name-field-teaser-image,
  &__image-link {
    text-align: center;
    margin-top: $spacing--half;

    @include breakpoint($bp--mobile) {
      float: left;
      width: $news-teaser-width;
    }
  }

  &--image &__right {
    @include breakpoint($bp--mobile) {
      margin-left: $news-teaser-width;
      padding-left: $spacing--big;
    }
  }

  &__items {
    overflow: hidden;
    padding: 0;
    margin: 0 0 $spacing--small;
    font-size: $fs--small;
  }

  &__item {
    list-style-type: none;
    display: block;
    color: $c--grey__light;
    float: left;

    &-link {
      color: $c--text__light;
      text-decoration: none;
      transition: all 0.3s ease 0s;

      &:hover,
      &:active,
      &:focus {
        color: $c--grey;
        text-decoration: none;
      }

      &-icon {
        margin-right: $spacing--small;
        margin-top: -$spacing--tiny;
      }
    }

    &::before {
      color: $c--grey__light;
      content: "|";
      margin: 0 $spacing--half;
    }

    &:first-child {

      &::before {
        display: none;
      }
    }
  }

  &__title {
    font-weight: bold;
    text-rendering: optimizeLegibility;
  }

  &__content {
    margin: 0 0 $spacing--medium;

    p {
      margin: 0 0 $spacing--medium;
    }

    p:last-child {
      margin-bottom: 0;
    }

    .field--name-field-teaser-text {
      &::after {
        clear: none;
      }
    }
  }
}
