.tools {
  background-color: $c--background;
  padding-bottom: $spacing--base;

  @include breakpoint(0 $bp--tablet-large) {
    display: none;
  }

  @include breakpoint($bp--tablet-large) {
    @include grid-span(3, 10);
    position: absolute;
    left: 74.6% + gutter-span();
  }

  &__container {
    line-height: 0; // Or else we have strange margins out of no where
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .tool {
      flex: 0 0 32.33%;
      margin-bottom: $spacing--small;
    }
  }

  &__config-link {
    text-align: right;
    margin-right: (gutter-span() / 2);

    a {
      color: #8c8c8c;
    }

    margin-top: $teaser-mobile-lh-base / 4;
    line-height: ($fs--base / ($fs--base * 0 + 1)) * $teaser-mobile-lh-base;
    font-size: $teaser-mobile-fs-base;

    @include breakpoint($bp--tablet-large) {
      margin-top: $teaser-resp-fs-base-tablet / 5;
      line-height: ($fs--base / ($fs--base * 0 + 1)) * $teaser-resp-lh-base-tablet;
      font-size: $teaser-resp-fs-base-tablet;
    }

    @include breakpoint($bp--max) {
      margin-top: $spacing--half;
      line-height: ($fs--base / ($fs--base * 0 + 1)) * $lh--base;
      font-size: $fs--base;
    }
  }
}