<section class="tools">
  <div class="tools__container">
    {% spaceless %}
      {% for tool in tools %}
        {% if tool.classname != 'inactive' %}
          {% include '@content/tool/tool.twig' %}
        {% else %}
          {% include '@content/tool/tool~inactive.twig' %}
        {% endif %}
      {% endfor %}
    {% endspaceless %}
  </div>
  <div class="tools__config-link">{{ configlink }}</div>
</section>
