.teaser-box {
  position: relative;
  overflow: hidden;

  &__inner {
    position: relative;
    height: 100%;
  }

  // Child Elements
  &__headline {
    @extend .h2;
    font-size: $teaser-mobile-fs-base * $fs--large / $fs--base;
    line-height: ($fs--large / ($fs--large * 0 + 1)) * $teaser-mobile-lh-base;
    margin-top: 1vw;
    margin-bottom: 0.5vw;

    @include breakpoint($bp--tablet-large) {
      font-size: $teaser-resp-fs-base-tablet * $fs--large / $fs--base;
      line-height: ($fs--large / ($fs--large * 0 + 1)) * $teaser-resp-lh-base-tablet;
      margin-bottom: 0.3rem;
      margin-top: 0.3rem;
    }

    @include breakpoint($bp--max) {
      font-size: $fs--large;
      line-height: ($fs--large / ($fs--large * 0 + 1)) * $lh--base;
    }

    a.link__external:after {
      display: none;
    }

    &--video {
      display: none;
    }
  }

  &__content-wrapper {
    position: relative;
    z-index: 1; // To bring it in front of the image.
  }

  &__content {
    background-color: $c--white__strong;
    border-top: $spacing--small solid $c--earls-green;
    padding: 2.55vw 6.5vw 4.5vw;
    line-height: ($fs--base / ($fs--base * 0 + 1)) * $teaser-mobile-lh-base;
    font-size: $teaser-mobile-fs-base;
    min-height: $teaser-resp-content-height-mobile;

    @include breakpoint($bp--tablet-large) {
      padding: 0.8vw 2.3vw 1.6vw;
      line-height: ($fs--base / ($fs--base * 0 + 1)) * $teaser-resp-lh-base-tablet;
      font-size: $teaser-resp-fs-base-tablet;
      min-height: $teaser-resp-content-height-tablet;
    }

    @include breakpoint($bp--max) {
      padding: $spacing--medium $spacing--big $spacing--big;
      line-height: ($fs--base / ($fs--base * 0 + 1)) * $lh--base;
      font-size: $fs--base;
      min-height: $teaser-default-content-height;
    }
  }

  &__text {
    color: $c--grey;
    margin-bottom: $spacing--medium;

    p {
      margin-top: 0;
      margin-bottom: $spacing--small;
    }
  }

  &__link {
    color: $c--fountain-blue;
    text-decoration: none;
    font-size: $teaser-mobile-fs-base;
    line-height: 1em;

    @include breakpoint($bp--tablet-large) {
      font-size: $teaser-resp-fs-base-tablet;
    }

    @include breakpoint($bp--max) {
      font-size: $fs--base;
    }
  }

  // Teaser variant styles
  &-view-mode--default {
    height: $teaser-mobile-height;

    @include breakpoint($bp--tablet-large) {
      height: $teaser-resp-height-tablet;
    }

    @include breakpoint($bp--max) {
      width: $teaser-default-width;
      height: $teaser-default-height;
    }

    .teaser-box__content-wrapper {
      background-color: $c--white;
    }

    .teaser-box__content {
      padding: 2.55vw 6.5vw;

      @include breakpoint($bp--tablet-large) {
        padding: 0.9vw 1.6vw;
      }

      @include breakpoint($bp--max) {
        padding: $spacing--medium $spacing--big;
      }
    }

    .teaser-box__headline {
      line-height: 1em;
    }

    // Hide extra text box and link for small boxes.
    .teaser-box__text,
    .teaser-box__link {
      display: none;
    }

    .teaser-box__image {
      img {
        min-width: 100%;
        height: auto;
      }
    }

    &.teaser-video {
      .teaser-box__content {
        padding: 0;
      }
    }

    &.teaser-box-video {
      .field--name-field-copyright,
      .field--name-field-description {
        display: none;
      }

      .media-video {
        padding-bottom: 0;
      }
    }
  }

  &-view-mode--wide {
    height: auto;
    clear: left;

    @include breakpoint($bp--tablet-large) {
      height: $teaser-resp-height-tablet;
    }

    @include breakpoint($bp--max) {
      height: $teaser-default-height;
    }

    .teaser-box__image {
      @include breakpoint($bp--tablet-large) {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        overflow: hidden;
      }

      img {
        min-width: 100%;

        @include breakpoint($bp--tablet-large) {
          min-height: 100%;
          height: auto;
        }
      }
    }

    .teaser-box__content-wrapper {
      @include breakpoint($bp--tablet-large) {
        margin-left: $spacing--base;
        margin-right: $spacing--base;
        width: 50%;
        position: absolute;
        top: 0;
        bottom: $spacing--base;
      }
    }

    .teaser-box__content {
      //padding: 0 $spacing--base $spacing--base;
      padding: 2.55vw 6.5vw;

      @include breakpoint($bp--tablet-large) {
        height: 100%;
        padding: 0.9vw 1.6vw;
      }

      @include breakpoint($bp--max) {
        padding: $spacing--medium $spacing--big;
      }
    }
  }

  &-view-mode--high {
    height: calc(#{$teaser-mobile-height} * 2 + #{$teaser-default-vert-spacing});

    @include breakpoint($bp--tablet-large) {
      height: calc(#{$teaser-resp-height-tablet} * 2 + #{$teaser-default-vert-spacing});
    }

    @include breakpoint($bp--max) {
      height: $teaser-default-height * 2 + $teaser-default-vert-spacing - 6;
    }

    .teaser-box__image {
      // See &__image above for an explanation.
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      overflow: hidden;

      img {
        min-width: 100%;
        height: 100%;
      }
    }

    .teaser-box__content {
      padding: 2.55vw 6.5vw;

      @include breakpoint($bp--tablet-large) {
        padding: 0.9vw 1.6vw;
      }

      @include breakpoint($bp--max) {
        padding: $spacing--medium $spacing--big;
      }
    }

    .teaser-box__content-wrapper {
      padding: 0 $spacing--base;
    }
  }

  &-video {
    height: $teaser-mobile-height;

    @include breakpoint($bp--tablet-large) {
      height: $teaser-resp-height-tablet;
    }
    
    @include breakpoint($bp--max) {
      width: $teaser-default-width;
      height: $teaser-default-height;
    }

    &__content-wrapper {
      background: $c--white;
      height: 100%;
    }

    &__content {
      border-top: none;
    }

    &__headline {
      display: none;
    }

    &.teaser-view-mode--default {
      .teaser-box__content-wrapper {
        position: static;
      }
    }
  }
}
