{% embed '@site-components/responsive-menu/responsive-menu-sublist.twig' with {
  header: header,
  children: children
}%}

  {% block sublist_children %}
    {% for child in children %}
      <li class="responsive-menu-sublist__list-item responsive-menu-sublist__list-item__{{ child.classname }}">{{ child.element }}</li>
    {% endfor %}
  {% endblock %}

{% endembed %}