{#
/**
 * @file
 * Theme override for displaying a tablesort indicator.
 *
 * Available variables:
 * - style: Either 'asc' or 'desc', indicating the sorting direction.
 */
#}
{% spaceless %}
  {% if style == 'asc' %}
    {% set classes = ['icon--angle-up'] %}
  {% else %}
    {% set classes = ['icon--angle-down'] %}
  {% endif %}
  <span class="sorts__indicator">
    <span{{ attributes.addClass(classes) }}>
      <span class="visually-hidden">
        {% if style == 'asc' -%}
          {{ 'Sort ascending'|t }}
        {% else -%}
          {{ 'Sort descending'|t }}
        {% endif %}
      </span>
    </span>
  </span>
{% endspaceless %}
