{#
/**
 * @file
 * Paragraph template for fields in Mein Beitrag.
 *
 * Available variables:
 * - label
 * - answer
 */
#}
<section class="paragraph-mein-beitrag">
  <div class="paragraph-mein-beitrag__image"></div>
  <div class="paragraph-mein-beitrag__content">
    <div class="paragraph-mein-beitrag__label">
      {{ label }}:
    </div>
    <div class="paragraph-mein-beitrag__answer">{{ answer }}</div>
  </div>
</section>
