{#
/**
 * @file
 * Media Image (Responsive)
 *
 * Available variables:
 * - embed_url
 * - video_classes (optional array of css classe)
 */
#}
{% set classes = [
  'media',
  'media--responsive',
  'media-video',
] %}
{% if video_classes %}
  {% set classes = classes|merge(video_classes) %}
{% endif %}
<div class="{{ classes|join(' ') }}">
  <iframe class="media-video__iframe" src="{{ embed_url }}" frameborder="0" allowfullscreen></iframe>
</div>
