<button 
  {% if(type) %}
    type="{{type}}"
  {% else %}
    type="button"
  {% endif %}
  class="btn btn-primary read-more-button"
  >
  {% if(button) %}
    {{button}}
  {% else %}
    Read More
  {% endif %}
</button>