.content-top {
  margin-top: $spacing--base;

  .content {
    background: $c--grey__light;
    min-height: 300px;
  }
}

.widgets {
  margin-top: $spacing--base;

  > .content {
    color: $c--white;
    min-height: 300px;
  }
}

.main-content {
  margin-top: gutter-span();

  .content {
    background: $c--white;
    padding: gutter-span() / 2;
    min-height: 500px;
  }
}

.teasers {
  margin-top: gutter-span();

  .content {
    min-height: 500px;
  }
}
