{# @todo: Re-factor or drop this organism #}
<div class="content">
  <div class="content__header">
    <b class="content__title">Deine News</b>
    <span class="content__title-helper pull-right">Abo anpassen</span>
  </div>
  <div class="content__tags">
    {% for item in menuitems %}
      {% include '@atoms/tag/tag.twig' with {
      name: item.title
    } %}
    {% endfor %}

    {% include '@atoms/tag/tag.twig' with {
      name: '...'
    } %}
  </div>
  
  <hr class="content__hr">
  
  {% for article in articles %}
    {% include '@site-components/news-article/news-article.twig' with {
      image: article.image,
      title: article.title,
      content: article.content,
      date: article.date,
      like: article.like,
      comments: article.comments
    } %}
  {% endfor %}

  <!-- Zur News Übersicht button -->
  <button class="content__button-read-more">
    Zur News Übersicht
  </button>
  
</div>