<div class="mein-beitrag-field mein-beitrag-field__{{ field_name }}">
{% include '@content/paragraph-mein-beitrag/paragraph-mein-beitrag.twig' with {
  label: element['#title'],
  answer: items[0].content,
} %}
</div>