.news-channel {
  background: $c--white;
  padding: ($spacing--base * 4) $spacing--big 0;
  border-top: $spacing--small solid $c--earls-green;

  &__headline {
    margin: 0;
    color: $c--primary;
    font-size: $fs--large;
    font-weight: $fw--base-bold;
  }

  &__label {
    padding-right: $spacing--half;
  }

  &__news {
    border-top: none;
    padding: $spacing--medium $spacing--big ($spacing--base * 4);

    .news-teaser {
      border-top: 1px solid $c--grey__lighterer;
      padding: $spacing--base 0;

      &:first-of-type {
        border-top: none;
        padding-top: 0;
      }
    }
  }
}
