.social-icons {
  &__list {
    list-style-type: none;
  }

  &__title {
    border-bottom: none;
    margin-bottom: 0;
    @extend %font-size-small;
  }

  &__item {
    float: left;
    margin-left: $spacing--base;

    &:first-child {
      margin-left: 0;
    }
  }

  &__link {
    @extend %font-size-large;
    color: $c--white;

    &:hover {
      text-decoration: none;
    }

    &.link__external:after {
      display: none;
    }
  }
}