.responsive-menu {
  &__list {
    clear: both;
    border-top: $c--jagged-ice 2px solid;
    display: none;
    margin: 0;
    background-color: $c--white;
    padding: 0;
  }

  &__list-item {
    @include clearfix();
    list-style: none;

    &__tools {
      border-top: 1px solid $c--white__light;
      background-color: $c--white;

      .responsive-menu-sublist__header {
        color: $c--white;
        background-color: $c--breaker-bay;
      }
    }
  }

  &__trigger {
    @include icon('bars');
    width: $spacing--double;
    height: $spacing--double;
    font-size: $spacing--big * 0.8;
    padding: 0;
    margin: 0;
    background: none;
    border: none;
    overflow: hidden;
    position: absolute;
    right: gutter-span() * 4;
    top: $spacing--medium;
    color: $c--secondary;

    span {
      display: none;
    }

    &:focus {
      outline: none;
    }

    &:focus,
    &:hover {
      background: none;
      color: $c--secondary;
    }

    &--is-active {
      @include icon('cross');

      &::before {
        font-size: $spacing--big * 0.6; // Only minor adjustment because of svg.
      }
    }
  }

  &__placeholder {
    @include icon('angle-down');
    cursor: pointer;
    padding: $spacing--half $spacing--big;
    color: $c--white;

    &::before {
      float: right;
      font-size: $fs--large;
    }

    &--is-active {
      @include icon('angle-up');
      
      &::before {
        font-size: $fs--large;
      }
    }
  }

  &__profile {
    line-height: $spacing--double * 1.25;

    & > div {
      float: left;
      margin-right: $spacing--medium;
    }

    .field__label {
      display: none;
    }

    img {
      width: $spacing--double * 1.25;
      height: $spacing--double * 1.25;
      border-radius: 50%;
      overflow: hidden;
    }
  }

  // Alter menu display in responsive menu.
  .menu {
    margin: 0;
    padding: 0;
    background-color: $c--white;

    &__item {
      list-style: none;
      background-color: $c--kasmir-blue;
      font-size: $fs--base;
      border-top: 1px solid $c--white__light;

      a {
        color: $c--white;
        display: block;
        padding: $spacing--half $spacing--big;
      }

      .menu__item {
        background-color: $c--kasmir-blue__75;

        .menu__item {
          background-color: $c--kasmir-blue__50;

          .menu__item {
            background-color: $c--kasmir-blue__25;
          }
        }
      }
    }
  }

  .menu__item--expanded {
    .menu {
      display: none;
    }
  }

  // Alter language switcher display in responsive menu.
  .language-switcher {
    display: block;
    padding: $spacing--half $spacing--big;
    height: auto;
  }

  .language-switcher__menu-item {
    width: auto;

    &.is-not-active:after,
    &.is-active:after {
      right: $spacing--big;
      top: $spacing--base;
      font-size: $fs--large;
    }
  }

  // Tools
  .tools {
    position: static;

    @include breakpoint(0 $bp--tablet-large) {
      display: block;
    }

    @include breakpoint($bp--tablet-large) {
      width: 100%;
      float: none;
    }

    &__container {
      display: block;
    }
  }

  .tools__container {
    .tool {
      margin-bottom: 0;
    }
  }

  .tool {
    @include icon('angle-right');
    margin: 0;
    background-color: $c--breaker-bay__75;
    border-bottom: 1px solid $c--white__light;
    padding: 0;

    a {
      padding: $spacing--half $spacing--big;
      position: static;
      text-align: left;

      .tool__text-container {
        transform: none;
        position: static;
        padding: 0;
        font-size: $fs--base;
        line-height: $lh--base;

        br {
          display: none;
        }
      }

      .tool__icon {
        line-height: 1;
        float: left;
        margin-right: $spacing--base;
      }
    }

    &::after {
      display: none;
    }

    &::before {
      color: $c--white__light;
      position: absolute;
      right: $spacing--big;
      font-size: $fs--large;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  .tool__link {
    display: block;
  }

  .tools__config-link {
    text-align: left;
    margin-top: 0;
    margin-right: 0;
    line-height: 1.8;

    a {
      color: $c--white;
      display: block;
      background-color: $c--breaker-bay__75;
      padding: $spacing--half $spacing--big;
    }
  }
}