.responsive-menu-sublist {
  &__header {
    @include clearfix();
    @include icon('angle-down');
    position: relative;
    color: $c--secondary;
    font-size: $fs--base;
    padding: $spacing--half $spacing--big;

    &::before {
      position: absolute;
      right: $spacing--big;
      font-size: $fs--large;
      top: 50%;
      transform: translateY(-50%);
    }

    &--is-active {
      @include icon('angle-up');

      &::before {
        font-size: $fs--large;
      }
    }
  }

  &__list {
    display: none;
    padding: 0;
    margin: 0;
  }

  &__list-item {
    list-style: none;
    border-top: 1px solid $c--jagged-ice;
    background-color: $c--background;
  }

  &__list-item__menu {

    .menu {
      .menu__item {
        border-top: 1px solid $c--jagged-ice;
        background-color: $c--background;

        a {
          color: $c--secondary;
        }

        &:first-child {
          border-top: 0;
        }
      }
    }

  }
}