<div class="responsive-menu">
  {% if children is not empty %}
    <ul class="responsive-menu__list">
    
    {% block list_children %}
      <li class="responsive-menu__list-item">
        {% include '@site-components/menu/menu.twig' %}
      </li>
    {% endblock %}
    </ul>
  {% endif %}
</div>