<section class="grid-demo grid-demo-1">
    <div class="grid-demo-1-1"><p>1 of 12</p></div>
    <div class="grid-demo-1-1a"><p>1 of 12</p></div>
    <div class="grid-demo-1-2"><p>2 of 12</p></div>
    <div class="grid-demo-1-2a"><p>2 of 12</p></div>
    <div class="grid-demo-1-3"><p>3 of 12</p></div>
    <div class="grid-demo-1-4"><p>4 of 12</p></div>
    <div class="grid-demo-1-5"><p>5 of 12</p></div>
    <div class="grid-demo-1-6"><p>6 of 12</p></div>
    <div class="grid-demo-1-7"><p>7 of 12</p></div>
    <div class="grid-demo-1-8"><p>8 of 12</p></div>
    <div class="grid-demo-1-9"><p>9 of 12</p></div>
    <div class="grid-demo-1-10"><p>10 of 16</p></div>
    <div class="grid-demo-1-11"><p>11 of 16</p></div>
    <div class="grid-demo-1-12"><p>12 of 16</p></div>
    <div class="grid-demo-1-13"><p>13 of 16</p></div>
    <div class="grid-demo-1-14"><p>14 of 16</p></div>
    <div class="grid-demo-1-15"><p>15 of 16</p></div>
    <div class="grid-demo-1-16"><p>16 of 16</p></div>
</section>

<section class="grid-demo grid-demo-2">
    <div class="grid-demo-2-1"><p><strong>grid-demo-2-1</strong> 4 of 12</p></div>
    <div class="grid-demo-2-2">
        <p><strong>grid-demo-2-2</strong> 6 of 12</p>
        <div class="grid-demo-2-4"><p><strong>grid-demo-2-4</strong> 2 of 6</p></div>
        <div class="grid-demo-2-5"><p><strong>grid-demo-2-5</strong> 2 of 6</p></div>
        <div class="grid-demo-2-6"><p><strong>grid-demo-2-6</strong> 2 of 6</p></div>
        <div class="grid-demo-2-7">
            <p><strong>grid-demo-2-7</strong> 6 of 6</p>
            <div class="grid-demo-2-8"><p><strong>grid-demo-2-8</strong> 2 of 6</p></div>
            <div class="grid-demo-2-9"><p><strong>grid-demo-2-9</strong> 4 of 6</p></div>
            <div class="grid-demo-2-10"><p><strong>grid-demo-2-10</strong> auto</p></div>
        </div>
    </div>
    <div class="grid-demo-2-3"><p><strong>grid-demo-2-3</strong> 2 of 12</p></div>
</section>
