.news-connect {
  background: $c--white;

  &__link {
    display: block;

    @include breakpoint($bp--tablet-large) {
      padding: $teaser-resp-fs-base-tablet;
    }

    @include breakpoint($bp--max) {
      padding: $spacing--medium;
    }

    &, &:hover {
      color: $c--text;
    }
  }

  &__image img {
    width: 100%;
    height: auto;
  }

  &__title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 0;

    font-weight: normal;
    margin-bottom: $teaser-mobile-lh-base;
    line-height: ($fs--base / ($fs--base * 0 + 1)) * $teaser-mobile-lh-base;
    font-size: $teaser-mobile-fs-base;

    @include breakpoint($bp--tablet-large) {
      margin-bottom: $teaser-resp-fs-base-tablet;
      line-height: ($fs--base / ($fs--base * 0 + 1)) * $teaser-resp-lh-base-tablet;
      font-size: $teaser-resp-fs-base-tablet;
    }

    @include breakpoint($bp--max) {
      margin-bottom: $spacing--medium;
      line-height: ($fs--base / ($fs--base * 0 + 1)) * $lh--base;
      font-size: $fs--base;
    }
  }
}
