{#
/**
 * @file
 * A news connect teaser template.
 *
 * Available variables:
 * - title
 * - img
 */
#}
<article class="news-connect">
  <a class="news-connect__link" href="{{ url }}">
    <h3 class="news-connect__title">{{ title }}</h3>
    <div class="news-connect__image">{{ image }}</div>
  </a>
</article>
