$link-line-height: $lh--base;

$link--tag__color: $c--primary;
$link--tag__padding-vertical: $spacing--tiny;
$link--tag__padding-horizontal: $spacing--half;
$link--tag__font-size: $fs--small;
$link--tag__border-width: .0625rem; // 1px
$link--tag__border-radius: .2rem;
$link--tag__border-hover-lighten: 51%;

$link--tag-active__bg: $link--tag__color;
$link--tag-active__color: $c--white;
$link--tag-active__bg-hover-darken: 5%;

