$news-teaser-width: 100px;
$news-full-padding-vertical: $spacing--base * 4;
$news-full-padding-horizontal: $spacing--base * 2;
$news-full-top-image-margin: $spacing--base * 4;

$news-slideshow-height: 260px;
