// "Default" is for bp-max.
$teaser-default-width: 325px;

$teaser-default-height: 190px;
$teaser-mobile-height: 46vw;
$teaser-resp-height-tablet: 13.57vw;

$teaser-default-vert-spacing: 20px;
$teaser-default-vert-spacing-tablet: 20px;

$teaser-default-horz-spacing: 20px;
$teaser-tablet-horz-spacing: gutter-span();
$teaser-mobile-horz-spacing: $spacing--medium;

$teaser-mobile-fs-base: 3.4vw;
$teaser-resp-fs-base-tablet: 1vw;

$teaser-mobile-lh-base: 1.5 * $teaser-mobile-fs-base;
$teaser-resp-lh-base-tablet: 1.5 * $teaser-resp-fs-base-tablet;

$teaser-default-content-height: 78px;
$teaser-resp-content-height-mobile: 18.61vw;
$teaser-resp-content-height-tablet: 5.49vw;
