.sidebar-item {
  margin-bottom: gutter-span() * 4;

  &__content {
    border-top: $spacing--small solid $c--earls-green;
    background: $c--white;
    padding: ($spacing--base * 4) $spacing--big;
  }

  &__headline {
    margin: 0 0 $spacing--medium;
    color: $c--primary;
    font-size: $fs--large;
  }
}
