
/// Makes a full-width grid row, applies max and min width restrictions.
@mixin grid-row() {
  @include grid-span(4);

  @include breakpoint($bp--tablet) {
    @include grid-span(8);
  }

  @include breakpoint($bp--desktop) {
    @include grid-span(12);
    @include clearfix;
    float: none;
    min-width: $width--min;
    max-width: $width--max;
    margin: {
      left: auto !important;
      right: auto !important;
    }
  }
}

/// Applies gutter span for a css property.
/// @param {$property} the css property, e.g. 'margin-bottom'.
/// @param {$multiplier} the multiplier for the gutter value.
@mixin applyGutterSpan($property, $multiplier: 1) {
  #{$property}: gutter-span() * $multiplier;

  @include breakpoint($bp--tablet) {
    #{$property}: gutter-span() * $multiplier;
  }

  @include breakpoint($bp--desktop) {
    #{$property}: gutter-span() * $multiplier;
  }
}
