

<h1>Überschrift 1</h1>
<h2>Überschrift 2</h2>
<h3>Überschrift 3</h3>
<h4>Überschrift 4</h4>
<h5>Überschrift 5</h5>
<h6>Überschrift 6</h6>
<blockquote>
  <p>Just because you’ve got the emotional range of a teaspoon doesn’t mean we all have.</p>
  <cite>Hermione Granger zu Ron Weasley in Harry Potter and the Order of the Phoenix</cite>
</blockquote>

<h3>Diverse Inline Elemente</h3>

<p>
  Das ist <a href="#">ein Link</a>.<br>
  Mit <strong>Strong</strong> kann man Wörter hervorheben.<br>
  Mit dem <em>em-Tag</em> ist das ebenfalls möglich.<br>
  Der <b>b-Tag</b> wird Inhalt stilistisch anders dargestellt, ohne besondere Bedeutung des Texts.<br>
  Mit <i>i-Tags</i> werden Inhalte anderer semantischer Bedeutung gekennzeichnet.<br>
  <u>u-Tags</u> sollten laut der Html5-Spezifikation fast immer durch andere Tags ersetzt werden.<br>
  Mit &lt;del&gt; und&lt;ins&gt; kann <del>bearbeiterter</del> <ins>geänderter</ins> Text gekennzeichneichnet werden.<br>
  Inhalte, die nicht mehr relevant oder korrekt sind werden mit dem s-Tag <s>durchgestrichen</s>.<br>
  Das ist <sup>hochgesteller text</sup>.<br>
  Tiefgestellter Text für Dinge wie H<sub>2</sub>O.<br>
  <small>Langweiliges Kleingedrucktes wird mit small kleingedruckt.</small><br>
  Abkürzungen: <abbr title="HyperText Markup Language">HTML</abbr><br>
  <cite>Eine Referenz auf ein Buch, eine Website,...</cite><br>
  Eine <dfn>Begriffsdefinition</dfn> mit dem dfn-Tag.<br>
</p>

<hr>

<table class='table table-striped'>
  <caption>Tabellenunterschrift</caption>
  <tr>
    <th>Spalte 1</th>
    <th>Spalte 2</th>
    <th>Spalte 3</th>
    <th>Spalte 4</th>
    <th>Spalte 5</th>
  </tr>
  <tr>
    <td>Zelle 1</td>
    <td>Zelle 2</td>
    <td>Zelle 3</td>
    <td>Zelle 4</td>
    <td>Zelle 5</td>
  </tr>
  <tr>
    <td>Zelle 1</td>
    <td>Zelle 2</td>
    <td>Zelle 3</td>
    <td>Zelle 4</td>
    <td>Zelle 5</td>
  </tr>
  <tr>
    <td>Zelle 1</td>
    <td>Zelle 2</td>
    <td>Zelle 3</td>
    <td>Zelle 4</td>
    <td>Zelle 5</td>
  </tr>
</table>

