{#
/**
 * @file
 * Home page template.
#}
{% extends "@layouts/site/site.twig" %}


{% block content %}
  <h2>Vue example component</h2>
  <section id="vue-app">
    <example>Foo</example>
  </section>
{% endblock %}

