.short-news-queue {
  @include clearfix();

  @include breakpoint($bp--tablet-large) {
    margin-left: 0;
    margin-right:$teaser-tablet-horz-spacing * -1;
  }

  @include breakpoint($bp--max) {
    margin-left: $teaser-tablet-horz-spacing * -1;
  }

  .teaser-box {
    @include clearfix();
    margin: 0 ($teaser-mobile-horz-spacing / 2) $teaser-default-vert-spacing;

    @include breakpoint($bp--tablet-large) {
      float: left;
      margin-left: $teaser-tablet-horz-spacing;
      margin-right: $teaser-tablet-horz-spacing;
      margin-bottom: $teaser-default-vert-spacing;
      width: #{50% - $teaser-tablet-horz-spacing*2};
    }

    @include breakpoint($bp--max) {
      width: $teaser-default-width;
    }
  }

  .teaser-box-view-mode--wide {
    @include breakpoint($bp--tablet-large) {
      width: auto;
      float: none;
    }

    @include breakpoint($bp--max) {
      width: auto;
    }
  }

  .teaser-box:nth-child(2) {
    clear: both;
  }

  &--narrow {
    @include breakpoint($bp--max) {
      width: auto;
    }

    .teaser-box {
      width: auto;
    }

    .teaser-box {
      @include breakpoint($bp--tablet-large) {
        float: none;
      }

      @include breakpoint($bp--max) {
        width: auto;
        margin-left: 0;
        margin-right: 0;
      }
    }
  }
}