.button {
  display: inline-block;
  border: 0;
  text-decoration: none;
  text-align: center;
  background-color: $c--secondary;
  color: $c--white;
  padding: $spacing--base;
  border: 2px solid $c--secondary;
  border-radius: $spacing--small;

  // needed to override base theme CSS
  -moz-appearance: none;
  -webkit-appearance: none;

  &:hover {
    background-color: $c--white;
    color: $c--secondary;
  }

  &.ajax-processed.progress-disabled {
    opacity: 0.5;
  }
}

// Set all buttons to the default button style.
#{$all-buttons} {
  @extend .button;
}

.button--clear {
  @extend .button;
  background-color: $c--white;
  color: $c--secondary;

  &:hover {
    background-color: $c--secondary;
    color: $c--white;
  }
}
