.header {
  @include clearfix();
  background-color: $c--white;

  @include breakpoint($bp--mobile) {
    height: $spacing--large * 2;
  }
  @include clearfix();

  &__wrapper {
    @extend .outer-container;

    &:not(:first-child) {
      border-top: 2px solid $c--primary__light;
    }
  }

  .logo {
    display: inline-block;
    max-width: 10rem;
    padding: ($spacing--half * 2) $spacing--double ($spacing--half * 2) $spacing--big;
    float: left;

    @include breakpoint($bp--mobile) {
      padding-bottom: 0;
      padding-left: $spacing--double;
      max-width: none;
    }
  }

  &__left {
    @include clearfix();
    @include breakpoint($bp--mobile) {
      display: inline-block;
      float: left;
    }

    .logo,
    .navigation {
      float: left;
    }
  }

  &__right {
    @include clearfix();
    display: none;

    @include breakpoint($bp--mobile) {
      float: right;
      display: block;
    }

    .language-switcher {
      float: right;
      margin-top: $spacing--big;
    }

    .navigation-profile {
      float: right;
      margin-top: $spacing--small;

      &--anonymous {
        margin-top: $spacing--big;
        margin-left: $spacing--big;
      }
    }
  }

  .search-bar {
    @include grid-span(9, 1);
    padding: $spacing--half 0 $spacing--half $spacing--big;

    @include breakpoint($bp--mobile) {
      padding: $spacing--base 0 $spacing--base $spacing--double;
    }

    &__submit {
      left: $spacing--big + $spacing--base;

      @include breakpoint($bp--mobile) {
        left: $spacing--double + $spacing--base;
      }
    }
  }

  .info-links__navigation {
    margin: $spacing--base 0;
    padding-right: $spacing--big;
    @include grid-span(3, 10);

    @include breakpoint($bp--mobile) {
      margin: $spacing--medium 0;
    }
  }

  // Special responsive handling based on header size.
  .responsive-menu {
    display: none;
  }

  &--enforce-mobile {
    height: auto;

    .logo {
      padding: ($spacing--half * 2) $spacing--double ($spacing--half * 2) $spacing--big;
    }

    .navigation-profile,
    .language-switcher,
    .main-menu__menu-0 {
      display: none;
    }

    .responsive-menu {
      display: block;
    }

    .header__right,
    .header__left {
      display: block;
      float: none;
    }
  }
}
