.news-slideshow {
  @include clearfix();

  @include breakpoint($bp--tablet-large) {
    @include grid-span(9, 1);
  }

  &__title {
    display: none;
  }

  .slick-dots {
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: $spacing--medium;
    right: $spacing--medium;

    li {
      display: inline-block;
      margin: 0 $spacing--tiny;
    }

    button {
      padding: 0;
      width: $spacing--medium;
      height: $spacing--medium;
      border: 1px solid $c--black__light;
      background-color: $c--black__lighter;
      overflow: hidden;
      text-indent: -300px;
      border-radius: 50%;
      vertical-align: bottom;
    }

    .slick-active {
      button {
        background-color: transparent;
        border: 1px solid $c--black__light;
      }
    }
  }
}
