.breadcrumb {
  color: $c--primary--light;
  font-size: $fs--small;
  padding-left: $spacing__double;

  &__list {
    margin: 0;
    padding: 0;
  }

  &__list-item {
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0 $spacing--small 0 0;

    // IE8 does not support :not() and :last-child.
    &:before {
      content: ' / ';
    }

    &:first-child:before {
      content: none;
    }
  }

  &__link {
    color: $c--primary--light;
    text-decoration: underline;
    padding-left: $spacing--small;
  }
}

// This is required to win over specificity of [dir="rtl"] ol.
[dir="rtl"] .breadcrumb .breadcrumb__list-item {
  margin-right: 0;
}
