<div class="input-group">
  <input 
    type="text" 
    class="form-control" 
    
    {% if(placeholder) %}
      placeholder="{{placeholder}}" 
    {% else %}
      placeholder="Suche" 
    {% endif %}

    {% if(aria) %}
      aria-describedby="{{aria}}"
    {% else %}
      aria-describedby="Suche"
    {% endif %}
  />
</div>