h1, .h1 {
  @extend %font-size-xlarge;
  margin: 0 0 get-font-property-value('xlarge', 'font-size') * 0.75;
  font-weight: normal;
}

h2, .h2 {
  @extend %font-size-large;
  margin: 0 0 get-font-property-value('large', 'font-size') * 0.75;
  font-weight: normal;
}

h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  @extend %font-size-base;
  margin: 0 0 get-font-property-value('base', 'font-size') * 0.75;
  font-weight: normal;
}

h1, h2, h3, h4, h5, h6 {
  @extend %font-bold--base;

  a {
    text-decoration: none;
  }
}
